@font-face {

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color:  #FFFFFF;
}


.main-container {
  flex-grow: 1;
}

.navigation{
display: flex;
width: 1200px;
margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 339px;
}

.page-container {
  width: 940px;
  margin: 0 auto;
}
.navigation-user {
  max-width: 268px;
  margin-left: auto;
}

.navigation-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:#242424;
  background-color: #FFFFFF;
}

.title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #242424;
  background-color: #FFFFFF;
}

.title-paragraph{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color:#242424;
  background-color: #FFFFFF;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color:#FFFFFF;
  background-color: #82B3D3 ;
}

.advantages-paragraph{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3 ;
}

.advantages-text{
  color:#242424;
}


.invitation-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #242424;
  background-color: #FFFFFF;
}

.invitation-paragraph{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #242424;
  background-color: #FFFFFF;
}

.about-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #242424;
  background-color: #83B3D3;
}

.about-paragraph{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #242424;
  background-color: #83B3D3;
}

.searching-hotels-question{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #242424;
  background-color: #FFFFFF;
}

.searching-hotels-call{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #242424;
  background-color: #FFFFFF;
}

.searching-hotels-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
}

.subscribe-call{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.subscribe-paragraph{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.social-media{
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #242424;
  background-color: #FFFFFF;
}

.main-image{
  background-color: #82B3D3;
  background-image: url("../images/index-background.jpg");
  width:1200px;
}

.button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color:  #756157;
}

.food{
  background-image: url("../images/food.svg");
  width:74px;
  height:70px;
}

.home{
  background-image: url("../images/home.svg");
  width:75px;
  height:72px;
}

.presents{
  background-image: url("../images/present.svg");
  width:64px;
  height:76px;
}

.inner-header-title{
font-weight:700;
font-size:60px;
line-height:78px;
}

.house-index-page{
  background-image: url("../images/catalog-house.svg");
  width: 12px;
  height: 12px;
  background-color: #82B3D3;
}

.main-image{
  background-image: url("../images/main-image-catalog.jpg");
  width: 1200px;
  background-color: #82B3D3;
}


.catalog-filter-title{
  font-weight:700;
  font-size:20px;
  line-height:24px;
  color:#FFFFFF;
}

.button{
width:191px;
height:36px;
color:#FFFFFF;
background-color:#82B3D3;
}

.subscribe{
  background-color:#82B3D3;
  background-image: url("../images/subscribe.png");
  width: 1200px;
}
